$dust-darkest: #1A1715
$dust-dark: #403B36
$dust-base: #807973
$dust-light: #B3AEAA
$powder-darkest: #CCC9C6
$powder-dark: #E0DEDC
$powder-base: #EDECEB
$powder-light: #F7F6F5
$fauna-darkest: #332C26
$fauna-dark: #78553C
$fauna-base: #CC7F47
$fauna-light: #E6C4AC
$sunshine-darkest: #4D4626
$sunshine-dark: #D9B500
$sunshine-base: #FFEA00
$sunshine-light: #FFF8A6
$palisade-darkest: #4D3D26
$palisade-dark: #BF7000
$palisade-base: #FFB31A
$palisade-light: #FFD98C
$gratitude-darkest: #4D362E
$gratitude-dark: #CC4214
$gratitude-base: #FF6633
$gratitude-light: #FFB399
$pricklypear-darkest: #403038
$pricklypear-dark: #802D56
$pricklypear-base: #D9629D
$pricklypear-light: #F2C2DA
$majesty-darkest: #2D2633
$majesty-dark: #6B3D99
$majesty-base: #A15CE6
$majesty-light: #DFBFFF
$columbine-darkest: #0D1933
$columbine-dark: #2953A6
$columbine-base: #4981F2
$columbine-light: #B3CCFF
$sky-darkest: #39484D
$sky-dark: #47ABCC
$sky-base: #49C8F2
$sky-light: #B3ECFF
$glacier-darkest: #364D4B
$glacier-dark: #4DBFB6
$glacier-base: #45E6D8
$glacier-light: #BFFFFA
$flora-darkest: #313326
$flora-dark: #91A629
$flora-base: #C9E639
$flora-light: #ECF2CE
$black: #000
$white: #fff
