@font-face
  font-family: "TiemposHeadline"
  src: url("/fonts/TiemposHeadline-Light.woff")
  font-weight: 200

@font-face
  font-family: "TiemposHeadline"
  src: url("/fonts/TiemposHeadline-Regular.woff")
  font-weight: 400

@font-face
  font-family: "TiemposHeadline"
  src: url("/fonts/TiemposHeadline-Medium.woff")
  font-weight: 600

@font-face
  font-family: "TiemposHeadline"
  src: url("/fonts/TiemposHeadline-Semibold.woff")
  font-weight: 800
