<Header />

<Intro @introClass="intro-home">
  <h1>Craft the future</h1>
  <h2>We believe it takes a different kind of company to make a different kind of software</h2>
  <p>Coming soon</p>

  <img class="home-peek" src="/images/peek.png">
</Intro>

<Footer />
