<Header />

<Intro @introClass="intro-home intro-Villains">
  <div class="intro-content-left">
    <header class="intro-header">
      <span class="appicon">
        <img src="/images/appicon-villains.png">
      </span>
      <h1>
        Villains
      </h1>
      <div class="subtitle">Comic Book Reader</div>
    </header>
    <p>
      Meet Villains, the new way to read comics on iPad and iPhone. Villains
      hooks up to your favorite cloud storage and gives you a beautiful reading
      experience.
    </p>
    <div id="mc_embed_signup">
      <form action="https://husk.us18.list-manage.com/subscribe/post?u=c1f783126fcef6e7e04ed0de2&amp;id=6bad83dffc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <fieldset>
        	<label for="mce-EMAIL">Sign up for Villains updates<span class="asterisk">*</span></label>
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_c1f783126fcef6e7e04ed0de2_6bad83dffc" tabindex="-1" value="">
          </div>
          <div class="flex-field">
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="example@husk.co">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
      	</fieldset>
      </form>
    </div>
  </div>
  <div class="intro-content-right home-peek">
    <img src="/images/peek.png">
  </div>
</Intro>

<Footer />

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
