<header class="site-header">
  <a href="/" class="logo">
    <img src="/images/logo-husk.svg" />
  </a>

  <nav class="site-nav">
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
