footer
  align-items: center
  background-color: $offwhite
  color: $muted-color
  display: flex
  height: $footer-height
  position: relative
  transition: transform $base-timing
  z-index: 1

  section
    padding: $small-spacing $base-spacing

  a
    font-weight: $font-weight-regular
    text-decoration: underline

    &:hover
      text-decoration: underline

  .copyright
    font-size: $smallest-font-size
    font-weight: $font-weight-regular
    margin-bottom: 0
    text-align: center
