.site-header
  +narrow
  +position(absolute, 0 0 auto 0)
  padding: 0 $large-spacing
  z-index: $z-header

.site-header-nav
  align-items: center
  border-bottom: $base-border
  display: flex
  justify-content: space-between
  height: $header-height
