@import "../../stylesheets/variables"
@import "../../stylesheets/typography"

body[data-current="home"]
  .intro
    height: calc(100vh - #{$footer-height})

  .home-peek
    +position(absolute, 50% 5vw null null)
    transform: translateY(-50%)
    width: 20vw

    @media (max-width: $break-medium)
      display: none
