@import "../../stylesheets/variables"

.intro
  align-items: center
  background-color: $white
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  height: 75vh
  transition: transform $base-timing
  z-index: 1

  .intro-content
    +container
    animation: rise 1s ease-in-out
    margin: $large-spacing auto
    padding: $large-spacing $base-spacing
    position: relative
    flex: 1
    transform-origin: $base-spacing 100%
    z-index: 2

    @media (min-width: $break-medium)
      padding-right: 20%

  h1
    color: $light-brown
    margin-bottom: $smallest-spacing

  h2
    color: $muted-color
    font-weight: $font-weight-light

  p
    font-size: 1.1rem
    line-height: 1.33
    margin: 0
